[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.7"
djangorestframework = "==3.15.2"
django-environ = "==0.11.2"
drf-yasg = "==1.21.7"
requests = "2.32.3"
pyjwt = "2.9.0"
aiohttp = "*"
tqdm = "*"
django-redis = "5.4.0"
redis = "5.0.8"
apscheduler = "3.10.4"

[dev-packages]
flake8 = "==7.1.0"
black = "==24.4.2"
pre-commit = "==3.8.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
